In [10]:
import numpy as np
import pandas as pd
import os

In [11]:
dataset_name = 'computer_activity'

In [12]:
input_dir = './data'
inp_fname = 'cpu_act.data'
output_dir = f'./../../processed/{dataset_name}/'
outp_fname = os.path.join(output_dir, f'{dataset_name}.csv')

# Read Data

In [13]:
col_names = [
    'lread', 
    'lwrite', 
    'scall', 
    'sread', 
    'swrite', 
    'fork', 
    'exec', 
    'rchar', 
    'wchar', 
    'pgout', 
    'ppgout', 
    'pgfree', 
    'pgscan', 
    'atch', 
    'pgin', 
    'ppgin', 
    'pflt', 
    'vflt', 
    'runqsz', 
    'freemem', 
    'freeswap', 
    'usr',   
]

In [14]:
data = pd.read_csv(os.path.join(input_dir, inp_fname), header=None,names=col_names)
data.head()

,lread,lwrite,scall,sread,swrite,fork,exec,rchar,wchar,pgout,...,pgscan,atch,pgin,ppgin,pflt,vflt,runqsz,freemem,freeswap,usr
0,6,2,1036,103,114,1.00,1.00,172076,355965,0.00,...,0.00,0.00,2.00,4.00,73.60,89.00,2.0,6527,1851864,90
1,1,0,2165,205,101,0.40,1.20,43107,44139,4.80,...,181.40,0.20,85.40,88.20,19.40,161.80,3.0,130,1131931,88
2,62,77,3806,258,166,1.40,1.40,492142,268706,4.80,...,79.20,2.20,7.60,12.20,68.00,218.80,5.2,256,1314590,85
3,5,0,4721,256,177,0.99,2.58,524787,174964,14.51,...,189.86,1.99,4.17,24.85,95.63,248.91,1.0,233,972606,81
4,42,55,3949,249,244,2.60,4.60,197289,529200,4.20,...,0.00,1.40,1.80,2.20,219.60,297.20,3.4,331,1013805,79

In [15]:
id_col = "id"
target_col = "usr"

In [16]:
data[target_col].value_counts()

90    459
91    448
92    426
94    421
93    411
97    410
96    410
95    405
88    384
98    378
89    376
87    338
86    283
0     283
85    254
84    252
83    230
81    201
82    187
80    166
79    150
77    144
78    126
76    119
75    104
74     96
72     77
73     73
99     60
69     51
71     49
68     46
70     42
67     39
66     36
63     32
64     27
62     27
65     25
59     23
60     20
58     17
61     16
57     14
56     11
55     10
1      10
54      7
53      5
51      4
50      4
52      2
46      1
49      1
48      1
2       1
Name: usr, dtype: int64

# Insert Id Column

In [17]:
# insert Id column 
if id_col not in data.columns:
    N = data.shape[0]
    data.insert(0, id_col, np.arange(N))
    print(data.head())
data[id_col] = data[id_col].astype(str)

   id  lread  lwrite  scall  sread  swrite  fork  exec   rchar   wchar  ...  \
0   0      6       2   1036    103     114  1.00  1.00  172076  355965  ...
1   1      1       0   2165    205     101  0.40  1.20   43107   44139  ...
2   2     62      77   3806    258     166  1.40  1.40  492142  268706  ...
3   3      5       0   4721    256     177  0.99  2.58  524787  174964  ...
4   4     42      55   3949    249     244  2.60  4.60  197289  529200  ...

   pgscan  atch   pgin  ppgin    pflt    vflt  runqsz  freemem  freeswap  usr
0    0.00  0.00   2.00   4.00   73.60   89.00     2.0     6527   1851864   90
1  181.40  0.20  85.40  88.20   19.40  161.80     3.0      130   1131931   88
2   79.20  2.20   7.60  12.20   68.00  218.80     5.2      256   1314590   85
3  189.86  1.99   4.17  24.85   95.63  248.91     1.0      233    972606   81
4    0.00  1.40   1.80   2.20  219.60  297.20     3.4      331   1013805   79

[5 rows x 23 columns]

# Save Main Data File

In [18]:
data.to_csv(outp_fname, index=False)